<h1>Hello World !</h1>
<h1>Interpolation</h1>
<h2>{{title}}</h2>
<h3>{{whatsThis()}}</h3>
<h3>{{object.name + " " + object.age}}</h3>
<h3>{{arr[1]}}</h3>
<h4>{{siteUrl}}</h4>
<h1>component and module</h1>
<app-login></app-login>
<app-signup></app-signup>
<h1>Various events</h1>
<button (click)="getName(name)">See my name</button><br><br>
<button (click)="myEvent('click event')">Click me</button><br><br>
<input type="text" #val (keyup)="myEvent(val.value)">
<input type="text" #box (keydown)="myEvent(box.value)">
<input type="text" #enterbox (keyup.enter)="myEvent(enterbox.value)">
<input type="text" (blur)="myEvent('blur event called')"><br><br>
<input type="text" #val (mouseover)="myEvent('mouse over event')">
<input type="text" #val (mouseleave)="myEvent('mouse leave event')">
<input type="text" (keyup)="getVal($event)" ><br><br>

<input type="text" #inpVal />
<button (click)="getValue(inpVal.value)">Get Value</button>
<h2>{{currVal}}</h2><br><br>


<h1>Property binding in angular</h1>
<input type="text" [value]="Hulkname">
<input type="text" value={{Hulkname}}><br><br>

<h1>Conditions in angular</h1>
<h1 *ngIf="show=='Sunil'; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock><h3>if Block</h3></ng-template>
<ng-template #elseBlock><h3>else Block</h3></ng-template>

<h1>Angular form</h1>
<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)" >
    <input type="text" ngModel name="user" placeholder="enter username">
    <input type="text" ngModel name="age" placeholder="enter age">
    <input type="text" ngModel name="address" placeholder="enter address">
    <button>Get User values</button>
</form>

<h1>Data transfer between parent to child</h1>
<app-user [hero]="batmanName"></app-user>

<h1>Data transfer between child to parent</h1>
<app-user (parentFunction) = "parentFunction($event)"></app-user>

<h1>Pipe</h1>
<h3>{{NAME | uppercase}}</h3>
<h3>{{today | date:'fullDate'}}</h3>
